<div class="wrapper-orange padded">
  <h2>DEVENEZ CLIENT TESTEUR !</h2>
  <h4>ETAPE 1 - VOS INFORMATIONS</h4>
</div>

<div class="wrapper-grey padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="form-container">

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <div class="row">
                <div class="col-xs-6">
                  <%= f.input :email, required: true, autofocus: true %>
                  <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                  <%= f.input :password_confirmation, required: true %>
                </div>
                <div class="col-xs-6">

                </div>
            </div>


            <div class="form-actions">
              <%= f.button :submit, "Sign up" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
