<div class="wrapper-orange">
  <div class="banner-title">
    <h2>DEVENEZ CLIENT TESTEUR !</h2>
    <h4>ETAPE 2 - POUR MIEUX VOUS CONNAITRE</h4>
  </div>
  <%= image_tag "weldom_banner.jpg" %>
</div>
<div class="wrapper-grey padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-container">
          <p>Merci de nous donner ci-dessous des précisions sur votre chantier.</p>
          <%= simple_form_for @user, url: wizard_path do |f| %>
            <%= f.error_notification %>
            <div class="row">
              <div class="col-xs-6">
                <%= f.input :construction_type, required: true, autofocus: true, label: "Type de chantier", collection: ['Repeindre ses meubles de cuisine (hors effet patiné)', 'Peindre un escalier en bois', 'Peindre un sol carrelé', 'Peindre sa faïence de salle de bain', 'Peindre un lambris', 'Recouvrir un plan de travail/ une crédence (enduit coloré ou béton)', 'Recouvrir un crépi (enduit coloré ou béton)', 'Recouvrir un carrelage mural (enduit coloré ou béton)'], prompt: "Choisir un type de projet" %>
              </div>
              <div class="col-xs-6">
                <%= f.input :construction_surface, autofocus: true, label: "Estimation de surface à peindre (1 couche) en m2" %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <%= f.input :photo, as: :attachinary, required: true, label: "Téléchargement de la photo du chantier à réaliser" %>
              </div>
              <div class="col-xs-6">
                <%= f.input :construction_color, label: "Choix de la couleur", collection: ['blanc', 'gris clair', 'taupe', 'rouge', 'bleu', 'je ne sais pas'], prompt: "Choisir une couleur" %>
              </div>
            </div>
        </div>
        <div class="form-container">
          <p>Merci de nous préciser vos réseaux sociaux</p>

              <%= f.input :facebook_profile, autofocus: true, label: "Profil Facebook" %>
              <%= f.input :twitter_profile, autofocus: true, label: "Profil Twitter" %>
              <%= f.input :instagram_profile, autofocus: true, label: "Profil Instagram" %>
              <%= f.input :youtube_channel, autofocus: true, label: "Chaine Youtube" %>
              <%= f.input :personnal_blog, autofocus: true, label: "Blog personnel" %>




<!--             <div class="form-inputs">
              <div class="form-group">
                <div class="input-group"><p>Facebook :</p>
                  <div class="input-group-addon">http://www.facebook.com/</div>
                  <%= f.input :facebook_profile, autofocus: true, label: false %>
                </div>
                <div class="input-group">Twitter :
                  <div class="input-group-addon">http://twitter.com/</div>
                  <%= f.input :twitter_profile, autofocus: true, label: false %>
                </div>
                <div class="input-group">Instragram :
                  <div class="input-group-addon">http://instagram.com/</div>
                  <%= f.input :instagram_profile, autofocus: true, label: false %>
                </div>
                <div class="input-group">Youtube :
                  <div class="input-group-addon">http://youtube.com/</div>
                  <%= f.input :youtube_channel, autofocus: true, label: false %>
                </div>
              <div class="input-group input-inline">Blog personnel :
                <%= f.input :personnal_blog, autofocus: true, label: false %>
              </div>
            </div>

          </div> -->
        </div>
        <div class="form-container container-btn">
          <p>Les clients testeurs devront rédiger leurs avis sur nos produits. Pouvez-vous nous parler
          de votre projet en quelques lignes ? Ce texte restera confidentiel, il nous
          donnera un aperçu de votre style rédactionnel.</p>
          <%= f.input :motivation, autofocus: true %>
          <div class="form-inline">
            <%= f.input :weldom_tester,
              required: true,
              collection: [[true, 'Oui'], [false, 'Non']],
              label_method: :last,
              label: "En cas de fort enthousiasme pour le produit, seriez-vous prêt à en faire une démonstration en magasin ?",
              as: :radio_buttons,
              checked: true %>
          </div>
          <div class="form-actions">
            <%= f.submit "JE VALIDE MON INSCRIPTION >", class: "btn-weldom-form" %>
          </div>
        </div>

          <% end %>
      </div>


      </div>
    </div>
  </div>
</div>

