<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Etape 2/3 : Vos réseaux sociaux</h2>
      <p>Veuillez indiquez les addresses de vos réseaux sociaux si vous en avez.</p>

      <%= simple_form_for @user, url: wizard_path do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">

          <%= f.input :facebook_profile, autofocus: true %>
          <%= f.input :twitter_profile, autofocus: true %>
          <%= f.input :instagram_profile, autofocus: true %>
          <%= f.input :youtube_channel, autofocus: true %>
          <%= f.input :personnal_blog, autofocus: true %>
        </div>

        <div class="form-actions">

      <%= f.submit "Je finalise mon inscription" %>
        </div>
      <% end %>

    </div>
  </div>
</div>

