<div class="wrapper-orange">
  <div class="container">
    <div class="home-banner">
      <%= image_tag "weldom-home-banner" %>
      <h2>BIENVENUE DANS<br />LA COMMUNAUTE DES TESTEURS<br />WELDOM</h2>
    </div>
    <p class="menu-link"><%= image_tag "icon-home" %> ACCUEIL DE LA COMMUNAUTÉ DES TESTEURS</p>
  </div>
</div>
<div class="wrapper-grey padded">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content-container">
          <h3>Comment ça marche ?</h3>
          <div class="row steps">
            <div class="col-xs-12 col-sm-3">
              <div class="step">
                <%= image_tag "step-1", width: 150, height: 150 %>
                <p>Vous recevez votre tondeuse</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="step">
                <%= image_tag "step-2", width: 150, height: 150 %>
                <p>Vous la testez</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="step">
                <%= image_tag "step-3", width: 150, height: 150 %>
                <p>Vous témoignez de son utilisation</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="step">
                <%= image_tag "step-4", width: 150, height: 150 %>
                <p>La tondeuse vous est offerte !</p>
              </div>
            </div>
          </div>
          <% if user_signed_in? %>
            <p>Votre inscription a bien ete prise en compte.</p>
            <p>Nous vous contacterons si vous etes selectionne</p>
            <p>Si vous souhaitez relancer une inscription, <%= link_to('cliquez ici', destroy_user_session_path, :method => :delete) %>.</p>
          <% else %>
            <%= link_to 'JE POSTULE >', new_user_registration_path, class: "btn-weldom-form"  %>
          <% end %>
        </div>
        <div class="content-container">
          <h3>Nos clients ont testés ces produits</h3>
          <div class="row">
            <div class="col-xs-6">
              <div class="product-tested">
                <img src="http://placehold.it/100x100" alt="">
                <div class="product-tested-content">
                  <h4>Outil multifonction</h4>
                  <p>Découvez ici ce qu'en pensent nos clients testeurs, et visualisez les en conditions réelles.</p>
                  <a href="" class="btn-home-review">voir les avis publiés ></a>
                </div>
              </div>
              <div class="product-tested">
                <img src="http://placehold.it/100x100" alt="">
                <div class="product-tested-content">
                  <h4>Colle Patex</h4>
                  <p>Découvez ici ce qu'en pensent nos clients testeurs, et visualisez les en conditions réelles.</p>
                  <a href="" class="btn-home-review">voir les avis publiés ></a>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="product-tested">
                <img src="http://placehold.it/100x100" alt="">
                <div class="product-tested-content">
                  <h4>Savon Fiel de Boeuf</h4>
                  <p>Découvez ici ce qu'en pensent nos clients testeurs, et visualisez les en conditions réelles.</p>
                  <a href="" class="btn-home-review">voir les avis publiés ></a>
                </div>
              </div>
              <div class="product-tested">
                <img src="http://placehold.it/100x100" alt="">
                <div class="product-tested-content">
                  <h4>Peinture Luxens</h4>
                  <p>Découvez ici ce qu'en pensent nos clients testeurs, et visualisez les en conditions réelles.</p>
                  <a href="" class="btn-home-review">voir les avis publiés ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
