<div class="wrapper-orange">
  <div class="container">
    <div class="home-banner">
      <%= image_tag "weldom-home-banner.jpg" %>
      <h2>BIENVENUE DANS<br />LA COMMUNAUTE DES TESTEURS<br />WELDOM</h2>
    </div>
<!--     <p class="menu-link"><%= image_tag "icon-home.png" %> ACCUEIL DE LA COMMUNAUTÉ DES TESTEURS</p>
 -->  </div>
</div>
<div class="wrapper-grey padded">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content-container">
          <h3>Comment ça marche ?</h3>
          <div class="row steps">
            <div class="col-xs-12 col-sm-3">
              <div class="step">
                <%= image_tag "step-1.jpg", width: 150, height: 150 %>
                <p>Vous complétez le formulaire de candidature avant le 7 juin 2017</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="step">
                <%= image_tag "step-2.jpg", width: 150, height: 150 %>
                <p>Vous recevez gratuitement le produit</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="step">
                <%= image_tag "step-3.jpg", width: 150, height: 150 %>
                <p>Vous réalisez votre chantier(*) de rénovation</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="step">
                <%= image_tag "step-4.jpg", width: 150, height: 150 %>
                <p>Vous témoignez de son application en photo ou en vidéo</p>
              </div>
            </div>
            <div class="col-xs-12">
              <p class="legal-mention">(*) Chantiers proposés : peindre ses meubles de cuisine,  peindre un escalier en bois, peindre un sol carrelé, peindre sa faïence de salle de bain, peindre un lambris, recouvrir un plan de travail/ une crédence (enduit coloré ou béton), recouvrir un crépi (enduit coloré ou béton), recouvrir un carrelage mural (enduit coloré ou béton).</p>
            </div>
          </div>
          <% if user_signed_in? %>
            <p>Votre inscription a bien ete prise en compte.</p>
            <p>Nous vous contacterons si vous etes selectionne</p>
            <p>Si vous souhaitez relancer une inscription, <%= link_to('cliquez ici', destroy_user_session_path, :method => :delete) %>.</p>
          <% else %>
            <%= link_to 'JE POSTULE >', new_user_registration_path, class: "btn-weldom-form"  %>
          <% end %>
        </div>
<!--         <div class="content-container">
          <h3>Nos clients ont testés ces produits</h3>
          <div class="row">
            <div class="col-xs-6">
              <div class="product-tested">
                <img src="http://placehold.it/100x100" alt="">
                <div class="product-tested-content">
                  <h4>Outil multifonction</h4>
                  <p>Découvez ici ce qu'en pensent nos clients testeurs, et visualisez les en conditions réelles.</p>
                  <a href="" class="btn-home-review">voir les avis publiés ></a>
                </div>
              </div>
              <div class="product-tested">
                <img src="http://placehold.it/100x100" alt="">
                <div class="product-tested-content">
                  <h4>Colle Patex</h4>
                  <p>Découvez ici ce qu'en pensent nos clients testeurs, et visualisez les en conditions réelles.</p>
                  <a href="" class="btn-home-review">voir les avis publiés ></a>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="product-tested">
                <img src="http://placehold.it/100x100" alt="">
                <div class="product-tested-content">
                  <h4>Savon Fiel de Boeuf</h4>
                  <p>Découvez ici ce qu'en pensent nos clients testeurs, et visualisez les en conditions réelles.</p>
                  <a href="" class="btn-home-review">voir les avis publiés ></a>
                </div>
              </div>
              <div class="product-tested">
                <img src="http://placehold.it/100x100" alt="">
                <div class="product-tested-content">
                  <h4>Peinture Luxens</h4>
                  <p>Découvez ici ce qu'en pensent nos clients testeurs, et visualisez les en conditions réelles.</p>
                  <a href="" class="btn-home-review">voir les avis publiés ></a>
                </div>
              </div>
            </div>
          </div>
        </div> -->

      </div>
    </div>
  </div>
</div>
