<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      <p>Adresse : <%= @user.address %> - <%= @user.postal_code %> - <%= @user.city %></p>
      <p>Social Media Profile :
        <ul>
          <li>Facebook : <%= @user.facebook_profile %></li>
          <li>twitter : <%= @user.twitter_profile %></li>
          <li>instagram : <%= @user.instagram_profile %></li>
          <li>Youtube : <%= @user.youtube_channel %></li>
          <li>Blog : <%= @user.personnal_blog %></li>
        </ul>
      </p>
      <p>Motivation :</p>
      <p> <%= @user.motivation %> </p>
      <%= link_to "Retour à la liste", admin_users_path %>
    </div>
  </div>
</div>
