<!DOCTYPE html>
<html>
  <head>
    <title>Weldom : Devenir testeur</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" type="text/css" href="https://www.weldom.fr/media/css_secure/4ebe72c4697e54f00b76dce16e9b1234.css" media="all">
    <link rel="stylesheet" type="text/css" href="https://www.weldom.fr/media/css_secure/dd10aca6761bbe3d5cc9d9fd642ef90e.css" media="all">
  </head>
  <body>
    <%= render 'shared/weldom_header' %>
    <% render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="https://www.weldom.fr/skin/frontend/base/default/weldom/js/megamenu.clickonly.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/js/prototype/prototype.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/js/lib/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/js/lib/jquery/noconflict.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/js/lib/ccard.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/js/prototype/validation.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/js/scriptaculous/builder.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/js/scriptaculous/effects.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/js/scriptaculous/dragdrop.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/js/scriptaculous/controls.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/js/scriptaculous/slider.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/js/varien/js.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/js/varien/form.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/js/mage/translate.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/js/mage/cookies.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/js/ms/megamenu/megamenu.min.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/js/nwdthemes/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/js/nwdthemes/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/js/nwdthemes/jquery.noconflict.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/skin/frontend/rwd/default/js/lib/modernizr.custom.min.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/skin/frontend/rwd/default/js/lib/selectivizr.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/skin/frontend/rwd/default/js/lib/matchMedia.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/skin/frontend/rwd/default/js/lib/matchMedia.addListener.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/skin/frontend/rwd/default/js/lib/enquire.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/skin/frontend/rwd/default/js/app.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/skin/frontend/rwd/default/js/lib/jquery.cycle2.min.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/skin/frontend/rwd/default/js/lib/jquery.cycle2.swipe.min.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/skin/frontend/rwd/default/js/slideshow.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/skin/frontend/rwd/default/js/lib/imagesloaded.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/skin/frontend/rwd/default/js/minicart.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/skin/frontend/rwd/fullsix/js/jquery.rating.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/skin/frontend/rwd/fullsix/js/owl.carousel.js"></script>
    <script type="text/javascript" src="https://www.weldom.fr/skin/frontend/rwd/fullsix/js/general.js"></script>
    <%= yield(:js) %>
  </body>
</html>
