<div class="wrapper-orange">
  <div class="banner-title">
    <h2>DEVENEZ CLIENT TESTEUR !</h2>
    <h4>ETAPE 1 - VOS INFORMATIONS</h4>
  </div>
  <%= image_tag "weldom_banner.jpg" %>
</div>
<div class="wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-container">
          <p>Ces informations nous permettent de pouvoir vous contacter suite à votre candidature.</p>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <div class="row">
                <div class="col-xs-6">
                  <%= f.input :last_name, label: 'NOM', required: true, autofocus: true, error: 'Veuillez renseigner votre nom.' %>
                  <%= f.input :first_name, label: 'PRÉNOM', required: true, autofocus: true, error: 'Veuillez renseigner votre prénom.' %>
                  <%= f.input :email, label: 'EMAIL', required: true, autofocus: true, error: 'Veuillez renseigner correctement votre email.' %>
                  <%= f.input :card_number, label: 'NUMÉRO DE CARTE (13 CHIFFRES)', autofocus: true %>
                  <%= f.association :store, label: 'MAGASIN LE PLUS PROCHE' %>
                </div>
                <div class="col-xs-6">
                  <%= f.input :address, label: 'ADRESSE', required: true, autofocus: true, error: 'Veuillez renseigner votre addresse.' %>
                  <%= f.input :postal_code, label: 'CODE POSTAL', required: true, autofocus: true, error: 'Veuillez vérifier le format de votre code postal.' %>
                  <%= f.input :city, label: 'VILLE', required: true, autofocus: true, error: 'Veuillez renseigner votre ville.' %>
                  <%= f.input :phone_number, label: 'NUMÉRO DE TÉLÉPHONE', required: true, autofocus: true, error: 'Veuillez renseigner votre numéro de téléphone.' %>
                </div>

              </div>
               <p>Des questions sur ces tests ? Posez-les sur <a href="http://www.facebook.com/weldom" target="_blank">www.facebook.com/weldom</a> !</p>
              <% generated_password = Devise.friendly_token.first(8) %>
              <%= f.hidden_field :password, value: generated_password %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "JE CONTINUE >", class: "btn-weldom-form" %>
            </div>
          <% end %>


        </div>

      </div>
    </div>
  </div>

</div>



